@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  -ms-overflow-style: none;
}

body{
  background-color: whitesmoke;
  /* overflow: hidden; */
}

.clickable {
  cursor: pointer;
}
.icon-row {
  width: 2em;
}
.icon-folder {
  width: 1em;
}
.icon-file {
  width: 0.75em;
}
.scrollable{
  overflow-y: scroll !important;
  overflow: scroll !important;
}

.main-photo{
  background-image: url('./cover-2.png');
  object-fit: contain;
  background-size: cover;
}

.cross-btn{
  background-image: url('./remove.png');
  object-fit: contain;
  background-size: cover;
}